<!--Product Card-->
<div class="card cardDivCSS" style="width: 15rem;">
    <img class="card-img-top imageCSS" src="{{cartItem.product.imageURL}}" alt="Image not available">

    <!--Card Body-->
    <div class="card-body">
        <h5 class="card-title">{{ cartItem.product.title }}</h5>
        <p class="card-text">{{ cartItem.product.price | currency : 'USD':"$"}}</p>
    </div>

     <!--Card Footer-->
    <div class="card-footer">
        <quantity-card [cart-item] = "cartItem"></quantity-card>
    </div>
</div>