<!--Shopping Cart-->
<span class="heading">Shopping Cart</span>

<br />
<br />

<!--No Items message-->
<span class="messageLabel" *ngIf="cartItems && cartItems.length == 0"> No items available </span>

<!--Items Count message-->
<span class="messageLabel" *ngIf="cartItems && cartItems.length > 0"> 
    You have <span class="countLabelCSS">{{cartItemsCount}}</span> items in your cart 
</span>

<br />
<br />


<!---Cart Items Table--->
<table *ngIf="cartItems && cartItems.length > 0">

    <!---Column Headers--->
    <thead *ngIf="cartItems && cartItems.length > 0">
        <th>Product</th>
        <th>Price Per Product</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </thead>

    <!---Data Rows--->
    <tr *ngFor="let item of cartItems">

        <td>
            <div>
                <img [src]="item.product.imageURL" class="imageCSS" />
                {{item.product?.title}}
            </div>
        </td>
        <td>{{item.product?.price | currency :'USD':'$'}}</td>
        <td>
            <div *ngIf="item.quantity">
                <button  *ngIf ="item.quantity" class="btn buttonCartCSS" (click)="reduceUpdateCart(item)">-</button>
                <span class="quantityCSS">{{item.quantity}}</span>
                <button *ngIf ="item.quantity" class="btn buttonCartCSS" (click)="addUpdateCart(item)">+</button>
            </div>
        </td>
        <td><span *ngIf="item.product && item.product.price && item.quantity">
             {{item.product.price * item.quantity | currency:'USD' : true}}</span></td>
    </tr>

    <!--Footer Row-->
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="totalPriceLabelCSS">Total : {{totalPrice|currency:'USD' : '$'}}</span></td>
    </tr>
</table>
<br />
<br />
<!--Clear Shopping Cart link-->
<a class="btn buttonCSS" *ngIf="cartItems && cartItems.length>0" (click) ="clearCart()">Clear Shopping Cart</a>
