.heading{
    color: lightseagreen;font-weight: bold;font-size: x-large;float: left;
}

.messageLabel{
    color: rgb(73, 69, 69);font-weight: normal;font-size: medium;float: left;
}

.countLabelCSS
{
    color: palevioletred; font-weight: bold;
}

thead
{
    background-color: rgb(176, 241, 238);
}

th{
    padding: 5px;
    width: 280px;
    color: palevioletred;font-weight: bold;; font-size: x-large;
}

td{
    padding: 5px;
    font-weight: 700;
    width: 150px;
    color: rgb(60, 179, 173); text-align: center;width: 200px;
}

.imageCSS
{
    height:60px; width:60px;border-radius: 100%;
}

.quantityCSS
{
    color: lightseagreen;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
    text-align: center;
}

.totalPriceLabelCSS
{
    color: grey;font-weight: bold;font-size: large;
}

.buttonCSS
{
    background-color: rgb(240, 65, 65);
    color: white;
    width: 200px;
    float: left;
    font-weight: bold;
}

.buttonCheckoutCSS
{
    width: 130px;
    background-color: lightseagreen;
    float: right;
}


