<a routerLink="/admin/products/new" class="btn btn-primary"  style="float:left;">New Product</a>
<br />
<br />
<div *ngIf="(products$ | async) as products" >
<h4  *ngIf="products.length === 0" > No products available  </h4>
<table *ngIf="products.length > 0" class="tableCSS">
    <thead *ngIf = "products.length > 0">
        <th>Product</th>
        <th>Title</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image URL</th>
        <th>Action</th>
    </thead>
    <tr *ngFor = "let product of products">
        <td><img [src]="product.imageURL" class="imageCSS" /></td>
        <td>{{product.title}}</td>
        <td>{{product.price | currency:'USD' : true}}</td>  
        <td>{{product.category.name}}</td>
        <td><a href="{{product.imageURL}}" class="imageURLCSS">{{product.imageURL}}</a></td>
        <td>
            <button class="btn btn-link editButtonCSS" [routerLink]="['/admin/products/', product.uId]" >Edit</button> &nbsp;&nbsp;
            <button class="btn delButtonCSS" (click)="onDelete(product)">X</button>
        </td>
    </tr>
</table>
</div>