.messageLabel{
    color: palevioletred;font-weight: bold;font-size: x-large;
}

.buttonCSS
{
    background-color: lightseagreen;
    color: white;
    float: left;
}

.searchDivCSS
{
   float: left;
}

.searchLabelCSS
{
    font-size: 20px;color:rgb(153, 131, 131);margin-right: 10px;
}

.filterTitleLabelCSS
{
    font-size: 15px;color:lightseagreen; margin-left: 5px;margin-right: 10px;
}

.filterCategoryLabelCSS
{
    font-size: 15px;color:lightseagreen; margin-left: 10px;margin-right: 10px;
}

.filterCSS
{
    font-size: 15px;height: 35px;width: 140px;margin-left: 5px;display: inline;
}

.columnHeaderCSS {
    padding: 5px;
    color: palevioletred;font-weight: bold;width: 200px;font-size: large;
}

.columnCSS{
    padding: 5px;
    font-weight: 600;
    color: rgba(32, 178, 171, 0.856); text-align: center;width: 200px;
}

.imageCSS
{
    height:60px; width:60px;border-radius: 100%;
}

.imageURLCSS
{
    height: 100px;font-size: 13px;color: lightseagreen;word-wrap: break-word;cursor: pointer;
}

.editButtonCSS
{
    color: lightseagreen;
    margin-left: 10px; 
    font-weight: bold;
}

.delButtonCSS
{
    border-radius: 100%;
    color: palevioletred;
    background-color: transparent;
    border:none;
    font-weight: bold;
}