.buttonCSS
{
    background-color: lightseagreen;
    width: 240px;
    color: white;
    font-weight: bold;
}

.quantityCSS
{
    color: lightseagreen;
    margin-left: 54px;
    margin-right: 54px;
    font-weight: bold;
    text-align: center;
}

.buttonCartCSS
{
    background-color: lightseagreen;
    width: 34px;
    color: white;
    font-weight: bold;
    text-align: center;
}
